  <!-- This is the first page
      This has to be in the form of a complete design page -->
  <div id="dailydesignerapp_list">
  <body>
    <br><br><br><br>
    <center>
    <h1>Daily Designer</h1>


  <%= link_to 'Lets Start Designing!', new_dailydesignerapp_path %>
  </center>
  <br><br><br>
  <div class="sketch"></div>
  <center><img src="/images/sketch.jpg" alt="some_text" width="500" height="500"></center> 
  </body>

  </div>


