<h1>bingo </h1>
<p>
summer clothes 
<%= link_to 'Next', summer_dailydesignerapps_path %> <br>
winter clothes
<%= link_to 'Next', winter_dailydesignerapps_path %> <br>
jc penny <%= link_to 'JcPenny',"http://www.jcpenney.com/women/dept.jump?id=dept20000013&cmJCP_T=G1&cmJCP_C=D4B" %> <br>
H&M<br> 
forever 21<br>
</p>